.menu {
  background-color: #1E8BD8;
}

.main-menu {
  display: flex;
  margin: 0;
  padding: 15px;
  list-style: none;
}

.main-menu > li {
  position: relative;
  padding: 2%;
}

.menu a {
  text-decoration: none;
  color: white;
}

.main-menu > li:hover {
  background-color: black;
}

.our-services {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1E8BD8;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu:hover .our-services {
  display: block;
}

.our-services li {
  padding: 2vw;
}

.our-services li:hover {
  background-color: black;
}
