.grid {
    display: grid;
    grid-template-areas: "celda1 celda1 celda1"
                         "celda2 celda3 celda4"
                         "celda2 celda5 celda6";
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 100px 150px 150px;
    gap: 1px;
}


.item {
    text-align: center;
    background-color: darkcyan;
    color: white;
    align-content: center;
}

.celda1 { grid-area: celda1;}
.celda2 { grid-area: celda2;}
.celda3 { grid-area: celda3;}
.celda4 { grid-area: celda4;}
.celda5 { grid-area: celda5;}
.celda6 { grid-area: celda6;}