.grid {
    display: grid;
    grid-template-rows: repeat(2, 75px);
    grid-template-columns: repeat(3, 125px);
    gap: 1px;
}

.item {
    background-color: darkcyan;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
}

.celda1 { order: 1; } 
