.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;
}


.item {
    text-align: center;
    background-color: darkcyan;
    color: white;
    align-content: center;
}