div {
    border: 5px solid red;
}

div > p:nth-of-type(1) {
    width: 50%;
    border: 5px solid green;
    margin-top: 10px;
    margin-left: 10px;
}

div > p:nth-of-type(2) {
    width: 50%;
    border: 5px solid blue;
    margin-top: 10px;
    margin-left: 50px;
}

div > p:nth-of-type(3) {
    width: 50%;
    border: 5px solid yellow;
    margin-top: 10px;
    margin-left: 100px;
}