header h1 {
    background-color: #333333;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px;
}

div.imagenes{
    margin-top: 30px;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

div.imagenes img {
    width: 150px;
    height: 150px;
    border:#333333 dashed 3px;
}