/*header*/
.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgreen;
}

.logo-title img {
    height: 40px;
}

.logo-title h1 {
    align-items: center;
    color: grey;
    height: 40px;
}

.menu {
    background-color: #73A345;
    color: white;
    width: 100%;
    gap: 10px;
}

.menu a {
    color: white;
}

.banner {
    width: 100%;
    height: 200px;
}

/* servicios */
.servicios {
    margin: 70px
}

.servicios div {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}

.servicios img {
    width: 70px;
}
.servicios div > h2 {
    text-transform: uppercase;
}

.servicio1 {
    background-color: rgb(255, 255, 152);
    border: 5px solid #c79c00;
}

.servicio2 {
    background-color: rgb(76, 251, 105);
    border: 5px solid #23af00;
}

.servicio3 {
    background-color: rgb(144, 180, 244);
    border: 5px solid #2691f6;
}

/* Opiniones */

.opiniones {
   margin: 70px;
   background-color: lightgray;
   border-top: black 5px solid;
   border-bottom: black 5px solid;
   padding:30px;
   color: grey;
}

.opinion img:first-child {
    height: 80px;
    align-self: center;
}

.opinion img {
    height: 40px;
    align-self: center;
}