header {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

header h1 {
    background-color: #333333;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px;
}

header nav {
    background-color: #CCCCCC;
    height: 40px;
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    color: #333333;
    text-decoration: solid;
    padding: 10px;
}

nav a:nth-child(3) {
    background: #555555;
    color: #FFFFFF;
}