.grid {
    background: linear-gradient(to right, #cd4d7d, #894ab5);
    display: grid;
    grid-template-rows: repeat(7, 20px);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
}

.item {
    background-color: #f6c844;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Celda roja 2 span*/
.celda8, .celda16, .celda24, .celda32  {
    background-color: #ed6d52;
    grid-row: span 1;
    grid-column: span 2;
}

/*Celda larga  azul 6 span*/
.celda6, .celda12, .celda30 {
    background-color: #6f94e6;
    grid-row: span 1;
    grid-column: span 6;
}

/*Celda vertical verde*/
.celda9, .celda27 {
    background-color: #aff8a2;
    grid-row: span 2;
    grid-column: span 1;
}

/*Celda verdes colspan 6 rowspan 2*/
.celda18 {
    background-color: #a5cc4f;
    grid-row: span 2;
    grid-column: span 6;
}

/*row 0*/
.celda7 {
    order:0;
}

/*row 1*/
.celda6, .celda11, .celda13, .celda14 {
    order: 1;
}

/*row 2*/
.celda12, .celda15, .celda16, .celda17 {
    order: 2;
}

/*row 3*/
.celda19, .celda20, .celda21, .celda22 {
    order: 3;
}

/*row 4*/
.celda18,.celda23, .celda24, .celda25 {
    order: 4;
}

/*row 5*/
.celda26, .celda27, .celda28, .celda29, .celda30 {
    order: 5;
}

/*row 6*/
.celda31, .celda32, .celda33, .celda34, .celda35, .celda37, .celda38, .celda39 {
    order: 6;
}