.grid {
    background: linear-gradient(to right, #cd4d7d, #894ab5);
    display: grid;
    grid-template-rows: repeat(7, 20px);
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "celda1 celda2 celda3 celda4 celda5 celda7 celda8 celda8 celda9 celda10"
                         "celda6 celda6 celda6 celda6 celda6 celda6 celda11 celda13 celda9 celda14"
                         "celda12 celda12 celda12 celda12 celda12 celda12 celda15 celda16 celda16 celda17"
                         "celda19 celda20 celda21 celda22 celda18 celda18 celda18 celda18 celda18 celda18"
                         "celda23 celda24 celda24 celda25 celda18 celda18 celda18 celda18 celda18 celda18"
                         "celda26 celda27 celda28 celda29 celda30 celda30 celda30 celda30 celda30 celda30"
                         "celda31 celda27 celda32 celda32  celda33 celda34 celda35 celda37 celda38 celda39";
    gap: 10px;
    padding: 10px;
}

.item {
    background-color: #f6c844;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celda1 { grid-area: celda1; }
.celda2 { grid-area: celda2; }
.celda3 { grid-area: celda3; }
.celda4 { grid-area: celda4; }
.celda5 { grid-area: celda5; }
.celda6 { 
    grid-area: celda6; 
    background-color: #6f94e6;
}
.celda7 { grid-area: celda7; }
.celda8 { 
    grid-area: celda8; 
    background-color: #ed6d52;
}
.celda9 { 
    grid-area: celda9; 
    background-color: #aff8a2;
}
.celda10 { grid-area: celda10; }
.celda11 { grid-area: celda11; }
.celda12 { 
    grid-area: celda12; 
    background-color: #6f94e6;
}
.celda13 { grid-area: celda13; }
.celda14 { grid-area: celda14; }
.celda15 { grid-area: celda15; }
.celda16 { 
    grid-area: celda16; 
    background-color: #ed6d52;
} 
.celda17 { grid-area: celda17; }
.celda18 { 
    grid-area: celda18; 
    background-color: #a5cc4f;
}
.celda19 { grid-area: celda19; }
.celda20 { grid-area: celda20; }
.celda21 { grid-area: celda21; }
.celda22 { grid-area: celda22; }
.celda23 { grid-area: celda23; }
.celda24 { 
    grid-area: celda24; 
    background-color: #ed6d52;
}
.celda25 { grid-area: celda25; }
.celda26 { grid-area: celda26; }
.celda27 { 
    grid-area: celda27; 
    background-color: #aff8a2;
}
.celda28 { grid-area: celda28; }
.celda29 { grid-area: celda29; }
.celda30 { 
    grid-area: celda30;
    background-color: #6f94e6;
}
.celda31 { grid-area: celda31; }
.celda32 { 
    grid-area: celda32; 
    background-color: #ed6d52;
}
.celda33 { grid-area: celda33; }
.celda34 { grid-area: celda34; }
.celda35 { grid-area: celda35; }
.celda37 { grid-area: celda37; }
.celda38 { grid-area: celda38; }
.celda39 { grid-area: celda39; }
