body {
    background: linear-gradient(to right, #e33f78, #8445c6);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
    .header {
        display: grid;
        font-weight: bolder;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 200px 200px; 
        gap: 10px;
    }

    .box-text-img {
        grid-row: span 2;
        background-image: url(./img/taco.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: grid;
        padding-left: 10%;
    }

    .box-text-img h1 {
        color: black;
        background-color: #ffc600;
        font-size: 30px;
        align-self: end;
    }
    .box-text-img p {
        background-color: #ffc600;
        font-size: 20px;
        align-self: start;
    }

    .box-text-img h1,
    .box-text-img p {
        display: inline-block;
        width: fit-content;
        padding: 5px 10px;
    }

    .box-yellow {
        background-color: #ffc600;
        text-align: center;
        grid-column: span 1;
        grid-row: span 1;
        padding-top: 40px;
    }

    .box-yellow p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 0;
    }
    .box-yellow p:nth-child(2) {
        margin-top: 0;
    }

/* MAIN */

    .categories {
        margin-top: 25px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px;
        align-items: center;
        gap: 10px;
    }

    .category {
        background-color: #ffc600;
        padding: 5px;
        font-weight: bolder;
        font-size: 20px;
    }

    .categories-extra {
        margin-top: 40px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px;
        gap: 10px;
    }

    .category-extra {
        background-color: white;
        padding: 5px;
    }

    .extra-icon {
        margin: 5px;
        font-size: 40px;
    }

    .extra-text {
        font-weight: bolder;
        font-size: 20px;
    }

    .extra-description {
        font-size: 15px;
        font-weight: bold;
        color: grey
    }

    .featured-taco {
        font-weight: bolder;
        background-color: white;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 300px;
        align-items: center;
        padding: 30px;
    }

    .box-link {
        background-color: #ffc600;
        font-size: 10px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .featured-text {
        font-size: 15px;
    }

/* INSTA GRAMS */
    .insta-grams {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px, 200px, 200px;
        gap: 15px
    }

    .insta-grams h2 {
        text-align: center;
        grid-column: span 5;
    }

    .insta-grams h2:after {
        content: '';
        height: 10px;
        display: block;
        background-image: linear-gradient(to left, transparent, #FFC600);
    }

    .insta-grams h2:before {
        content: '';
        height: 10px;
        display: block;
        background-image: linear-gradient(to right, transparent, #FFC600);
    }
    

