.caja {
    width: 15%;
    height: 80%;
    margin-top: 5%;
}

.caja.one {
    background-color: green;
    margin-left: 15%;
    position: absolute;
    top: 0;
    left: 0;
}

.caja.two {
    background-color: yellow;
    margin-left: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.caja.three {
    background-color: red;
    margin-left: 45%;
    position: absolute;
    top: 0;
    left: 0;
}

.caja.four {
    background-color: blue;
    margin-left: 60%;
    position: absolute;
    top: 0;
    left: 0;
}
