.maindiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 3px red;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.maindiv > div {
    color: white;
    padding: 2px 3px;
}

.item1 {
    background-color: #58B99D;
    font-size: 8px;
}

.item2 {
    background-color: #5296D5;
}

.item3 {
    background-color: #925CB1;
    font-size: 20px;
}

.item4 {
    background-color: #38485C;
    font-size: 30px;
}

.item5 {
    background-color: #EAC645;
    font-size: 4px
}

.item6 {
    background-color: #D8833B;
}

.item7 {
    background-color: #D65745;
}

.item8 {
    background-color: #BEC3C7;
}

.item9 {
    background-color: #65C97A;
}

.item10 {
    background-color: #4A9E86;
    font-size: 14px;
}