.maindiv {
    width: 100%;
    height: 100%;
    border: solid 3px red;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.maindiv > div {
    color: white;
    display: flex;
    flex-basis: calc(100%/10);
    justify-content: center;
    font-size: 30px;
}

.item1 {
    background-color: #58B99D;
}

.item2 {
    background-color: #5296D5;
    align-self: stretch;
}

.item3 {
    background-color: #925CB1;
}

.item4 {
    background-color: #38485C;
}

.item5 {
    background-color: #EAC645;
}

.item6 {
    background-color: #D8833B;
    align-self: center;
}

.item7 {
    background-color: #D65745;
}

.item8 {
    background-color: #BEC3C7;
}

.item9 {
    background-color: #65C97A;
    align-self: flex-end;
}

.item10 {
    background-color: #4A9E86;
}