.maindiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 3px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

.maindiv > div {
    color: white;
    height: 100px;
    display: flex;
    flex-basis: calc(100%/3);
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.item1 {
    background-color: #58B99D;
}

.item2 {
    background-color: #5296D5;
}

.item3 {
    background-color: #925CB1;
}

.item4 {
    background-color: #38485C;
}

.item5 {
    background-color: #EAC645;
}

.item6 {
    background-color: #D8833B;
}

.item7 {
    background-color: #D65745;
}

.item8 {
    background-color: #BEC3C7;
}

.item9 {
    background-color: #65C97A;
}

.item10 {
    background-color: #4A9E86;
}