.maindiv {
    height: 100%;
    border: solid 2px red;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.maindiv > div {
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.item-common {
    height: 20px;
}

.item1 {
    background-color: #58B99D;
}

.item2 {
    background-color: #5296D5;
}

.item3 {
    background-color: #925CB1;
}

.item4 {
    background-color: #38485C;
}

.item5 {
    background-color: #EAC645;
}

.item6 {
    background-color: #D8833B;
}

.item7 {
    background-color: #D65745;
}

.item8 {
    background-color: #BEC3C7;
}

.item9 {
    background-color: #65C97A;
}

.item10 {
    height: 40px;
    background-color: #4A9E86;
}